*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../images/lawbackground.jpg');
}
.layout .container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;  /* Negative half of height. */
    margin-left: -500px;
    gap: 50px;
}
span{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.container .item{
    position: relative;
    left: -920px;
    top: 80px;
    border-radius: 6px;
    width: 150px;
    height: 100px;
    box-shadow: 0 2px 7px black;
}
.container .item span {
    position: absolute;
    left: 25px;
    top: 65px;
}
.container .item:hover{
    background-color: #e5e5e5;
}
.title{
    display: flex;
    justify-content: center;
    position: relative;
}
.title .title0{
    font-size: 50px;
    color: #4a4a4a;
}
.title1{
    letter-spacing: 2px;
    font-size: 20px;
    color: #2a2a2a;
}
