.card {
    height: 840px;
    width: 700px;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -420px;  /* Negative half of height. */
    margin-left: -350px;
  }